.container {
  width: 80%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  margin: 18px 0;
  flex-direction: column;
}
.form-control {
  border: 0;
  padding: 12px 15px;
  color: #333;
  border-radius: 5px;
  border: 1px solid #333;
}

/*Button Styles*/
.btn {
  border: 0;
  padding: 10px 45px;
  border-radius: 8px;
  background-color: #c1c1c1;
  transition: 300ms;
  font-weight: 500;
}
.btn:hover {
  filter: brightness(90%);
}

.btn-primary {
  background-color: var(--blue);
  color: var(--white);
}

.btn-outline-primary {
  background-color: transparent;
  color: var(--blue);
  border: 2px solid var(--blue);
}
.btn-primary:disabled {
  cursor: not-allowed;
  filter: brightness(50%);
}
.btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--blue);
}

/* Button - Dark*/
.btn-dark {
  color: var(--white);
  background-color: var(--dark);
}
.btn-dark:hover {
  background-color:var(--darkhover);
}
.btn-block {
  width: 100%;
}
.buttonBack {
  display: flex;
  align-items: center;
  color: #333333;
  font-size: 1em;
  text-decoration: none;
}

.buttonBack svg {
  font-size: 1.2em;
}


/*
  BOX
*/

.box{
  width: 100%;
  max-width: 380px;
  padding:30px 20px;
  min-height: 160px;
  color:var(--white);
  border-radius: 8px;
  box-shadow: 1px 1px 10px var(--darkhover);
  background-color:var(--dark);
  position:absolute;;
}
.box .title-sider{
  font-size: 2.2em;
}
.box .tag-bottom{
  color:rgba(255, 255, 255, .8);
  font-size: 4em;

  position: absolute;
  right: 30px;
  bottom:30px
}
.box footer{
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold ;
  width: 100%;
  color:var(--dark);
  position:absolute;
  bottom:0;
  left: 0;
  padding: 5px;
  background-color: var(--white);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.box footer a {
text-decoration: none;
color: var(--dark);
}
.box footer a:hover{
text-decoration: underline;
color:var(--darkhover);
}