:root{
  --blue:#2980b9;
  --white:#f1f1f1;
  --dark:#30336b;
  --darkhover:#130f40;
}
*{
  padding: 0;
  margin:0;
  outline: 0;
  box-sizing: border-box;

}
body,
input,
textarea,
button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size:1em;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f1;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
